
/* PALETA DE COLORES DEL PROYECTO */
$red-salsa: #f94144;
$orange-red: #f3722c;
$yellow-orange-color-wheel: #f8961e;
$mango-tango: #f9844a;
$maize-crayola: #f9c74f;
$pistachio: #90be6d;
$zomp: #43aa8b;
$cadet-blue: #4d908e;
$queen-blue: #577590;
$cg-blue: #277da1;


// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    $cg-blue !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     $red-salsa !default;
$orange:  $orange-red !default;
$yellow:  $maize-crayola !default;
$green:   $pistachio !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;



$primary:       $yellow-orange-color-wheel !default;
$secondary:     $queen-blue !default;
$success:       $green !default;
$info:          $cg-blue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
